@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #2148C0;
    background-image: url('../css/img/BG.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    background-size: cover;
    color: #fff;
}

/* Login */
.wrapper {
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

#login {
    /* width: 100%; */
}

.login-icon {
    font-size: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.login-form {
    margin: 20px 0px;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: flex;
}

.login-form img {
    margin-right: 20px;
}

.form-input {
    background: transparent;
    border: 0;
    outline: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
}

.form-input::placeholder {
    color: #FFF;
    opacity: 0.6;
    text-transform: uppercase;
}

.form-submit {
    margin: 20px 0px;
    width: 100%;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #2148C0;
    background: #fff;
    border: none;
    border-radius: 5px;
}

.form-submit:hover,
.send-btn:hover,
.back-btn:hover {
    opacity: 0.7;
}

.forgot-form {
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.forgot-form button{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: transparent;
    border: 0;
    outline: 0;
}

.forgot-form button:hover {
    opacity: 0.7;
}

#error {
    color: red;
    font-size: 13px;
    margin-top: 25px;
    text-align: center;
}

.forgot {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #2148C0;
    background-image: url('../css/img/BG.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.forgot.open-forgot {
    display: flex;
}

.forgot-container {
    max-width: 300px;
    position: relative;
}

.forgot-header {
    color: #fff;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.email-form{
    margin: 20px 0px 10px 0px;
    padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}

.forgot-email {
    background: transparent;
    border: 0;
    outline: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
}

.forgot-email::placeholder {
    color: #FFF;
    opacity: 0.6;
    text-transform: uppercase;
}

.email-form-submit {
    display: flex;
    gap: 20px;
}

.send-btn, .back-btn {
    margin: 20px 0px;
    width: 50%;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #2148C0;
    background: #fff;
    border: none;
    border-radius: 5px;
}

/* index */
.header {
    letter-spacing: 4px;
    margin-top: 30px;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

.job {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 50px 0px;
    gap: 10px;
}

.job-form {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    width: 42%;
}

.job-btn {
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    color: #2148C0;
    background: #fff;
}

.job-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.table-form{
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

tr, th {
    border: 1px solid #fff;
    padding: 15px;
}

tr {
    background: #7d97e2;
    color: #fff;
}

td {
    border: 1px solid #fff;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}

.del-btn {
    background: transparent;
    border: 0;
}

.del-btn i{
    color: #fff;
    font-size: 20px;
}

.del-btn:hover {
    opacity: 0.6;
}
